.markdown-rendered {
  --h1-font: var(--font-interface);
  --h2-font: var(--font-interface);
  --h3-font: var(--font-interface);
  --h4-font: var(--font-interface);
  --h5-font: var(--font-interface);
  --h6-font: var(--font-interface);
}
